.startGrid{
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: auto auto auto;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
      background: #2ecc71;
    background-image: linear-gradient(to top left, #2980b9, #16a085, #2ecc71);
    }
    h1{
        animation: color-change 10s infinite;
        background-color: azure;
        grid-column-start: 1;
      grid-column-end: 4;
    
    }
    @keyframes color-change {
        0% { color: red; }
        25%{ color: yellow;}
        50% { color: rgb(0, 255, 34); }
        75%{ color: rgb(0, 68, 255);}
        100% { color: rgb(255, 0, 221); }
      }
    .button {
        border-radius: 10px;
      background-color: #f4511e;
      border: 2px solid;
      border-color: black;
      color: #000000;
      text-align: center;
      font-size: 28px;
      padding: 20px;
      width: 200px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
    
    .b1{
        border-radius: 10px;
  background-color: #ecce21;
  border: 2px solid black;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
        grid-column-start: 1;
      grid-column-end: 4;
}
.b1 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
}
      
      .b1 span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .b1:hover span {
        color:white;
        padding-right: 25px;
        
      }
      
      .b1:hover span:after {
        opacity: 1;
        right: 0;
        
      }
    .b1:active {
        background-color: #e93701;
        transform: translateY(2px);
      }
    .b2{
        background-color: grey;
        padding: 5px;
        font-size: 15px;
        width: 145px;
    }
    .b2:hover{
        background-color: #505050; /* Green */
      color: white;
    }
    .b2:active {
        background-color: #292929;
        transform: translateY(2px);
      }
    
    .b3{
        background-color: rgb(56, 200, 236);
        padding: 15px 32px;
        width: 145px;
        font-size: 15px;
    }
    .b3:hover{
        background-color: #2d6fff; /* Green */
      color: white;
    }
    .b3:active {
        background-color: #1c03ff;
        transform: translateY(2px);
      }
    
      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .button:hover span {
        padding-right: 25px;
      }
      
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }